body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
.main {
  display: flex;
  height: 100vh;
}
.account {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
}
.sidebar {
  background-color: #121212;
  height: calc(100vh - 64px);
  margin-top: 64px;
  width: 300px;
  border-radius: 1rem;
  margin-right: 0.5rem;
  overflow: hidden;
}
.maincontent {
  background-color: #121212;
  height: calc(100vh - 64px);
  margin-top: 64px;
  color: white;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
}
.musicplayer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
}
.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lib_option img {
  height: 1.25rem;
  width: 1.25rem;
}
a {
  text-decoration: none;
  color: white;
}
.lib_option a {
  font-size: 1.25 rem;
  margin-left: 1rem;
}
.lib_option {
  line-height: 60px;
  opacity: 1;
  font-weight: 700;
}
.icon {
  margin-top: 12px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 50%;
  opacity: 0.7;
}
.icon:hover {
  opacity: 1;
}
.icon i {
  opacity: 0.7;
  font-size: 25px;
}
.icon i:hover {
  opacity: 1;
}
.box1,
.box2 {
  background-color: #232323;
  border-radius: 0.75rem;
}
.box1 {
  height: 8rem;
  padding: 0.2rem 1.25rem 0rem 1.25rem;
  margin-top: 1.5rem;
}
.box-p1 {
  font-size: 1 rem;
  font-weight: 650;
  margin-bottom: 0.3rem;
  /* line-height: 1; */
}
.box-p2 {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}
.badge {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  height: 2rem;
  width: fit-content;
  margin-top: 0.5rem;
}
.box2 {
  height: 10rem;
}
