.container{
    width: 400px;
    height: 400px;
    margin:0 auto;
    border:3px solid rgb(1, 119, 119);
    border-radius: 10px;
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    width:100px;
    height:100px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    margin:10px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;;
}
