.container{
    width:90%;
    height:600px;
    display:grid;
    margin: 10px auto;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
}
#header{
    grid-column: 1/span 12;
    background-color: pink;
}
#sidebar{
    grid-column: 1/span 3;
    grid-row: 2/span 10;
    background-color: pink;
}
#navigation{
    grid-column: 4/span 6;
    background-color: pink;
}
#main{
    grid-row: 3/span 9;
    grid-column: 4/span 6;
    background-color: pink;
}
#ads{
    grid-row: 2/span 10;
    grid-column: 10/span 3;
    background-color: pink;
}
#footer{
    grid-column: 1/span 12;
    background-color: pink;
}

