.loader{
    width: 120px;
    height: 120px;
    border:16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


