<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <h2>You are about to delete <%=user.email%></h2>
    <form method="post" action="/user/<%=user.id%>/?_method=DELETE">
        <input type="text" name="username" placeholder="enter username">
        <input type="password" name="password" placeholder="enter password">
        <button>Delete</button>
    </form>
</body>
</html>