<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
    <h1>Welcome to our community &#128512;</h1>
    <form method="post" action="/newUser">
        <input type="text" name="username" placeholder="enter username">
        <input type="email" name="email" placeholder="enter email">
        <input type="password" name="password" placeholder="enter password">
        <br>
        <button>submit</button>
    </form>
</body>
</html>