h1{
    text-align: center;
}
.grid-container {
    width: 600px;
    height: 304px;
    border: 2px solid red;
    background-color: black;
    margin: 0 auto;
    display:grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    place-items: center;
}
.item{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border: 2px solid white;
    text-align: center;

}

#item01{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    place-self: center;
} 