h1{
    text-align: center;
    color:cadetblue;
    text-decoration: double underline black;
}
.box1{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: orange;
    margin: 4px auto;
    text-align: center;
    color:white;
}
.box2{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: purple;
    margin: 4px auto;
    text-align: center;
    color:white;
    position: relative;
    z-index: 1;
}
.box3{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: brown;
    margin: 4px auto;
    text-align: center;
    color:white;
    position: relative;
    bottom: 100px;
    z-index: 2;
}