body{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 5rem;
}

.face{
    height:400px;
    width:400px;
    border-radius: 50%;
    background-color: orange;
    margin-top: 5rem;
    transition: box-shadow 0.1s ease-in 0.2s;
}

.eye-left{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: black;
    position:relative;
    top: 100px;
    left: 100px;
}

.eye-right{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: black;
    position:relative;
    top: 50px;
    left: 250px;
}

.mouth{
    height:50px;
    width:200px;
    border-radius: 0 0 100px 100px;
    background-color: rgba(78, 3, 3, 0.474);
    position:relative;
    top: 150px;
    left: 100px;
}

.face:hover{
    box-shadow: 5px 5px 10px gray;
}