.face{
    height:400px;
    width:400px;
    border-radius: 50%;
    background-color: orange;
}
.eye-left{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: black;
    position:relative;
    top: 100px;
    left: 100px;
}
.eye-right{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: black;
    position:relative;
    top: 50px;
    left: 250px;
}
.mouth{
    height:50px;
    width:200px;
    border-radius: 0 0 100px 100px;
    background-color: rgba(78, 3, 3, 0.474);
    position:relative;
    top: 150px;
    left: 100px;
}