<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>this is home page</h1>

    <h3> <%= 4*6 %></h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio adipisci tempore illum, sint nulla natus fugiat unde, accusantium nostrum obcaecati beatae quasi, eveniet amet iste maiores? Recusandae aliquid accusantium repellat.</p>
    <button>click me!</button>
</body>
</html>