<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Roll</title>
</head>
<body>
    <h1>Dice number is: <%= diceVal %></h1>

    <!--EJS conditional statement-->
    <% if(diceVal==6) { %>
        <h2>roll dice again.</h2>
    <% } %>
    
</body>
</html>